.screening-text {
  font-size: 3px;
  color: #ffffff;
  padding: 0px;
  line-height: 0%;
}

p, li, ul, code {
  font-size: 12px;
  line-height: 133%;
}

hr {
  display: block;
  position: relative;
  padding: 0;
  margin: 8px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #ffffff;
}